
div {
    width: 100px;
    height: 100px;
}




header {
    background-color: #fe0000;
   float: initial;
}
nav {
    background-color: #027fff;
    
}
section {
    background-color: #ffc7c6;
    float: left;
}
aside {
    background-color: #fe80fe;
  float: right;
}
footer {
    background-color: #7eff00;

}
