
h1 {
  text-align: center;
}
.fila {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-bottom: 15px;

}

.redonda {
  border-radius: 50%;
  height: 100px;
  width: 100px;

}
.color1{
  background-color: rgb(255,0,0);
}
.color2 {
  background-color: rgb(0,255,0);
}
.color3 {
  background-color: rgb(0,0,255);
}
.color4 {
  background-color: rgb(255,0,255);
}
.color5 {
  background-color: rgb(0,255,255);
}
.color6 {
  background-color: rgb(255,255,0);
}