body {
    background-color: #e5e6fb;
}

caption {
    width: 250px;
    padding-bottom: 5px;
    margin: auto;
}

span {
    background-color: #02bcfe;
    font-weight: bold;
    font-size: 25px;
}

table {
    border: 5px solid black;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    margin:auto;
    padding: 3px;
    background-color: #fee4c3;
    min-width: 500px;
    max-width: 500px;

}

tbody,
td {
    border-bottom: solid 1px black;
    border-right: solid 1px black;
    text-align: center;
    border-left: solid 1px black;
    width: 1000px;
}

tfoot {
    background-color: #02bcfe;
    font-weight: bold;
    font-size: 18px;
}
.bottom {
    border: none;
}